<div>

    <div class="row">
        <div class="col-12">
            <h4>Nuevo Prospecto</h4>

        </div>
    </div>



    <div class="row">
        <form class="col-12" asp-controller="Prospecto" asp-action="Nuevo" method="post"></form>
    </div>


</div>
